{%- comment -%}
  Trusted Shops Bewertungs-Karussell (Inline Snippet)
  Widget-ID: wdg-ae302a93-2542-4539-a12a-1f44a36fd96a
{%- endcomment -%}
<div class="ts-reviews-karussell" style="max-width: 1200px; margin: 2rem auto; padding: 0 1.5rem;">
  <div id="wdg-ae302a93-2542-4539-a12a-1f44a36fd96a"></div>
</div>
